*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family:  -apple-system;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px,1fr,300px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 0;
    align-items: center;
}
footer{
    grid-area: footer;
}
.nav-container{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #a45f32;

}
.nav-title{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #f2f2f2;
}
.nav-sub-title{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #f4f4f4;
}
.main-form{
    height: 700px;
    width: 25rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    background-color: #f4f4f4;
}

.form-label{
    text-align: end;
    padding-top: 45px;
}

.form-select, 
.form-input{
    padding: .2rem;
    height: 45px;
    width: 100%;
    border-radius: 5px;
}
.form-textarea{
    padding: .2rem;
    border-radius: 5px;

    height: 300px;
    width: 100%;
}
.form-btn{
    background-color: antiquewhite;
    color: black;
    height: 55px;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;

}

.footer-section{
    background-color: #a45f32;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}
.footer-main-text{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.footer-sub-text{
    text-align: center;
    font-size: 1rem;
    font-family: system-ui;
}